{% extends 'account/index.html' %}
{% load static %}


{% block content %}
    <br>    
    {% for articulo in articles  %}

        <div class="container bg-white shadow-md p-5 form-layout mb-4">
            <h3>{{articulo.title}}</h3>
            <p>{{articulo.content}}</p>
            <p>Fecha de publicacion: {{articulo.date_posted}}</p>
            <a class="btn btn-warning" href="{% url 'update_article' articulo.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'delete_article' articulo.id %}">Delete</a>

        </div>
    {% endfor %}
        
{% endblock content %}
    